body{
	background-color:black;
	color:yellow;
     }
input{
	color:silver;
	background-color:black;
	border:none;
	outline:none;
	width:90vw;
	font-size:17px;
	}
p{
	white-space:pre-wrap;
	font-size:17px;
	}
dialog{
    display:flex;
    flex-direction:column;
    padding:10px;
    background-color:black;
    width:90vw;
    height:90vh;
    border:1px solid yellow;
    border-radius:20px;
}

textarea{
    background-color:black;
    flex:1;
    color:cyan;
    outline:none;
    border:1px solid black;
    font-size:20px;
    padding:10px;
}
button{
	background-color:black;
	border:1px solid black;
	outline:none;
	font-size:20px;
	color:orange;
	}
